body {
    font-family: 'AnyConv.com__SFProDisplay-Regular';
    color: $granite;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.page-section{
    margin-bottom: 80px;
}