@media(max-width:1300px) {
	.product__more {
		margin-top: 60px;
	}
}

@media(max-width:1200px) {
	.banner-section__inner {
		justify-content: space-around;
	}

	.banner-section__slider {
		max-width: 600px;
	}

	.banner-section__slider-img {
		min-height: 380px;
		max-width: 600px;
	}

	.categories__inner {
		justify-content: space-around;
	}

	.banner-link img {
		width: 100%;
	}
}

@media(max-width:1100px) {
	.menu__item {
		padding-left: 25px;
	}

	.header__adress {
		margin-right: 20px;
	}
}

@media(max-width:968px) {
	.header__bottom {
		display: none;
	}

	.menu__list {
		display: none;
	}

	.menu-btn {
		display: block;
		background-color: transparent;
		border: none;
		cursor: pointer;
		padding: 0;
	}

	.menu-btn__line {
		border-radius: 3px;
		background: $granite;
		width: 34px;
		height: 3px;
		margin: 8px 0;
	}

	.menu__mobile-linewrapper {
		display: block;
		font-family: 'AnyConv.com__SFProDisplay-Bold';
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		background: $crayola;
		overflow-x: scroll;
	}

	.menu__mobile-line {
		width: 450px;
		padding: 14px 0 14px 15px;
	}

	.banner-section__inner {
		margin-top: 25px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.banner-section__slider-item {
		text-align: center;
	}

	.banner-section__slider {
		max-width: 100%;
	}

	.banner-section__slider-img {
		max-width: 100%;
		margin-bottom: 25px;
	}

	.mobile-overflow {
		width: 1000px;
	}

	.tabs__wrapper {
		overflow-x: scroll;
	}
}

@media(max-width:940px) {
	.footer__top-inner {
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.footer__top-item {
		margin-bottom: 25px;
	}
}

@media(max-width:640px) {
	.header__adress {
		display: none;
	}

	.menu-mobile__list.active {
		display: block;
		left: 0;
		transition: .5s linear;
	}

	.banner-section__slider-img {
		min-height: 200px;
	}

	.banner-section .container {
		padding: 0;
	}

	.search__content-btn {
		font-size: 0px;
		line-height: 0px;
		padding: 17px;
		background-color: transparent;
		background-image: url(../img/search.svg);
		background-repeat: no-repeat;
		width: 24px;
		height: 24px;
		cursor: pointer;
		position: absolute;
		right: 8px;
		top: 13px;
	}

	.search__content-input {
		height: 50px;
		padding-right: 50px;
	}

	.search__content-from {
		position: relative;
	}

	.banner-link img {
		min-height: 90px;
		object-fit: contain;
	}
}

@media(max-width:540px) {
	.footer__top-item {
		width: 100%;
	}

	.footer__bottom {
		flex-direction: column;
		align-items: start;
	}

	.footer__bottom-link {
		margin: 12px 0;
	}

	.footer__top-inner {
		justify-content: flex-start;
	}

	.footer__top-item.footer__top-newsletter {
		// margin-right: 0;
		// width: 100%;
		margin-right: auto;
		margin-left: auto;
		width: 290px;
		text-align: center;
	}

	.footer__top-item.footer__top-social {
		width: 100%;
	}

	.social-list {
		justify-content: center;
	}
}

@media(max-width:440px) {
	.banner-section__slider-img {
		min-height: 164px;
	}

	.categories__item {
		padding: 20px 10px 16px;
	}
}

// 5 время 17:34