@import "_normalize.scss";
@import "slick";
@import "_vars";
@import "fonts";
@import "_global";


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}



.header__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 122px;
    font-family: 'AnyConv.com__SFProDisplay-Bold';
    font-weight: 700;
}

.menu__item {
    display: inline-block;
    padding-left: 50px;

    &:first-child {
        padding-left: 0;
    }
}

.header__box {
    display: flex;
}

.header__adress {
    position: relative;
    margin-right: 60px;
    width: 265px;
    padding-left: 30px;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: -10px;
        background-image: url(../img/adress-icon.svg);
        width: 30px;
        height: 30px;

    }
}

.user-list {
    display: flex;
    align-items: center;
    margin-right: 15px;

    &__item {
        padding-right: 10px;
    }
}

.basket {
    position: relative;
}

.basket__num {
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
    border-radius: 50%;
    background: $blue;
    color: #ffffff;
    text-align: center;
    bottom: -15px;
    right: -14px;
}

.header__bottom {
    margin-bottom: 80px;
}


.menu-categories {
    background-color: #F0F0F4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 53px;

    &__item {
        position: relative;
    }

    &__link {
        position: relative;
        transition: all .3s linear;
        padding: 15px 0 14px;
        font-weight: 400;
    }

    &__link::before {
        content: '';
        position: absolute;
        width: 0;
        left: auto;
        bottom: -2px;
        right: 0;
        background-color: $blue;
        height: 3px;
        transition: all .3s linear;
    }

    &__link:hover {
        color: #000000;
    }

    &__link:hover::before {
        width: 100%;
        right: auto;
        left: 0;
    }
}

.banner-section__inner {
    display: flex;
    justify-content: space-between;
}

.banner-section__slider {
    max-width: 870px;
}

.banner-section__slider-img {
    object-fit: cover;
    min-height: 400px;
}

.banner-section__slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    z-index: 5;
    outline: none;
    cursor: pointer;
}

.banner-section__slider-btnprev {
    left: 20px;
}

.banner-section__slider-btnpnext {
    right: 20px;
}

.slick-dots {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;

    li {
        display: inline-block;
        padding: 0 5px;
    }

    button {
        padding: 0;
        margin: 0;
        font-size: 0;
        width: 11px;
        height: 11px;
        border: 1px solid #ffffff;
        border-radius: 50%;
        background-color: transparent;
        outline: none;
        cursor: pointer;
    }
}

.slick-active {
    button {
        background-color: #fff;
    }
}

.price {
    position: relative;
}


.sale-item {
    max-width: 265px;
    text-align: center;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__info {
        font-family: 'AnyConv.com__SFProDisplay-Bold';
        font-weight: 700;
        background-color: $blue;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #ffffff;
        padding: 8px 20px;
    }

    &__price {
        font-family: 'Barlow-Bold';
        font-weight: 700;
        text-align: right;
        position: relative;
    }

    &__title {
        font-family: 'AnyConv.com__SFProDisplay-Bold';
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 7px;
    }

    &__img {
        object-fit: contain;
    }

    &__footer {
        background-color: $crayola;
        padding: 25px 20px;
        font-size: 18px;
        line-height: 21px;

        span {
            font-family: 'Barlow-Bold';
            font-weight: 700;
            line-height: 22px;
            color: $blue;
            display: block;
        }
    }

    &__price-new {
        position: relative;
        font-size: 27px;
        line-height: 32px;
        font-weight: 700;
        color: $blue;
        margin-right: 6px;
        padding-right: 20px;

        &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            top: 6px;
            background-image: url(../img/icons-price.svg);
            width: 15px;
            height: 18px;
        }
    }

    &__price-old {
        font-family: 'Barlow-Regular';
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $silver;
        margin-right: 15px;
        background-image: url(../img/old-line.svg);
        background-repeat: no-repeat;
        padding: 2px 5px;
        display: inline-block;

        &::after {
            content: '';
            position: absolute;
            right: -10px;
            bottom: 0;
            top: 5px;
            background-image: url(../img/icons-price-old.svg);
            width: 8px;
            height: 10px;
        }
    }
}

// Start Tabs
.search__tabs {
    margin-bottom: 25px;
}

.search__tabs-item {
    padding: 11px 26px 12px;
}

.search__tabs-item--active {
    border-radius: 5px;
    background-color: $crayola;
    font-family: 'AnyConv.com__SFProDisplay-Bold';
    font-weight: 700;
}

.search__content-item{
    display: none;
}

.search__content-item--active{
    display: block;
}

.search__content-from {
    display: flex;
}

.search__content-input {
    font-size: 16px;
    line-height: 19px;
    color: $dull-gray;
    background-color: $crayola;
    border: none;
    border-radius: 3px;
    padding: 15px 20px;
    outline: none;
    width: 100%;

    &::placeholder{
        font-size: 16px;
        line-height: 19px;
        color: $dull-gray;
    }
}

.search__content-btn {
    font-family: 'AnyConv.com__SFProDisplay-Bold';
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    padding: 17px 41px;
    color: #ffffff;
    background-color: $blue;
    border-radius: 3px;
    border: none;
    outline: none;
    margin-left: -3px;
    cursor: pointer;
}





@import "_media";