@import "_normalize.scss";
@import "_vars";
@import "fonts";
@import "_global";


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}



.header__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 122px;
    font-family: 'AnyConv.com__SFProDisplay-Bold', sans-serif;
    font-weight: 700;
}

.menu__item {
    display: inline-block;
    padding-left: 50px;

    &:first-child {
        padding-left: 0;
    }
}

.header__box {
    display: flex;
}

.header__adress {
    position: relative;
    margin-right: 60px;
    width: 265px;
    padding-left: 30px;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: -10px;
        background-image: url(../img/adress-icon.svg);
        width: 30px;
        height: 30px;

    }
}

.user-list {
    display: flex;
    align-items: center;
    margin-right: 15px;

    &__item {
        padding-right: 10px;
    }
}

.basket {
    position: relative;
}

.basket__num {
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
    border-radius: 50%;
    background: #1C62CD;
    color: #ffffff;
    text-align: center;
    bottom: -15px;
    right: -14px;
}

.menu-categories {
    background-color: #F0F0F4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 53px;

    &__item{
        position: relative;
    }

    &__link{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all .3s linear;
        padding: 15px 0 14px;
    }

    &__link:hover {
        font-family: 'AnyConv.com__SFProDisplay-Semibold', sans-serif;
        font-weight: 600;
        // border-bottom: 3px solid #1C62CD;
    }
}
// 1:10:35













@import "_media";